%meta{property: 'og:site_name', content: 'CorgiDerp'}
%meta{property: 'og:url', content: post_url(post)}
%meta{property: 'og:type', content: 'article'}
%meta{property: 'og:title', content: post['title']}
%meta{property: 'og:description', content: post['description']}
%meta{property: 'og:image', content: post.image.url(:original)}
%meta{name: 'twitter:card', content: 'summary_large_image'}
%meta{name: 'twitter:site', content: '@corgiderp'}
%meta{name: 'twitter:title', content: post['title']}
%meta{name: 'twitter:image', content: post.image.url(:original)}
%meta{name: 'twitter:url', content: post_url(post)}
%meta{name: 'twitter:description', content: post['description']}
