#posts {
  &.show {
    .info {
      img.post-image {
        float: right;
        max-width: 20%;
        padding-left: 20px;
      }
      dl {
        float: left;
        max-width: 80%;
      }
    }
    .comments {
      table {
        .comment-content {
          width: 50%;
        }
      }
    }
  }
}

@media (max-width: 768px) {
  #posts {
    &.show {
      .info {
        img.post-image {
          float: none;
          display: block;
          margin: 0 auto 20px;
          max-width: 350px;
        }
        dl {
          float: none;
          max-width: 100%;
        }
      }
    }
  }
}
