# Be sure to restart your server when you modify this file.

# Your secret key is used for verifying the integrity of signed cookies.
# If you change this key, all old signed cookies will become invalid!

# Make sure the secret is at least 30 characters and all random,
# no regular words or you'll be exposed to dictionary attacks.
# You can use `rake secret` to generate a secure secret key.

# Make sure the secrets in this file are kept private
# if you're sharing your code publicly.

development:
  secret_key_base: 7f6813f7d2fbb18b88bf4148d33e6e1e9746ac00a9d9dd840695fdcb2590061a75842a579d8e87fbb361d9c2af02ae1515de88026fe9f997fe24607b7595a0a6

test:
  secret_key_base: 19e60d8200c73f6b56d871cb611bcce26b7ec9676ee076958c1006771d5f353e6294ddce5b689c272f265840e31ff4910ca0522a4537b1b2887ac3064eb89879

# Do not keep production secrets in the repository,
# instead read values from the environment.
production:
  secret_key_base: <%= ENV["SECRET_KEY_BASE"] %>
