.post-share
  %ul.social
    %li.twitter
      %a{:onclick => "javascript:window.open('http://twitter.com/share?text=#{post.title} @corgiderp - #{url_for([post, {only_path: false}])}', '_blank', 'width=800, height=500, top=200 left=300');void(0);"}
        %i.fa.fa-twitter
    %li.facebook
      %a{:onclick => "javascript:window.open('http://www.facebook.com/sharer.php?u=#{url_for([post, {only_path: false}])}', '_blank', 'width=800, height=500, top=200 left=300');void(0);"}
        %i.fa.fa-facebook
    %li.pinterest
      %i.fa.fa-pinterest-p
    %li.tumblr
      %i.fa.fa-tumblr
