@import "bootstrap-sprockets";
@import "bootstrap";
@import "sweet-alert";
@import "_variables";

// Global Styles
html {
	position: relative;
	min-height: 100%;
}

body {
	margin-bottom: 60px;
	background: #f4f4f4;
}

a {
	color: $primary;
	&:hover, &:focus {
		text-decoration: none;
		color: $highlight;
	}
}

.clearfix:before, .clearfix:after {
	content: "";
	display: table;
}

.clearfix:after {
	clear:both;
}

textarea {
	max-width: 100%;
}

.m-b {
	margin-bottom: 10px;
}

.m-r-md {
	margin-right: 5px;
}

.vertical-align {
	display: flex;
	align-items: center;
}

// Breadcrumbs
.breadcrumbs {
	background: $white;
	padding: 14px 20px;
	margin-bottom: 20px;
	// border-bottom: 2px solid $primary;
	// box-shadow: inset 0 -10px 10px -10px rgba(0,0,0,0.45);
	box-shadow: 0 3px 3px rgba(0,0,0,0.45);
	font-size: 18px;
	ol.breadcrumb {
		margin: 0;
		padding: 0;
		background: transparent;
		li {
			position: relative;
			padding-right: 35px;
		}
		li.active {
			color: $black;
			padding: 0;
		}
		li + li:before {
			content: '\f1b0';
			font-family: FontAwesome;
			position: absolute;
			top: 2px;
			left: -30px;
			padding: 0;
			display: inline-block;
			transform: rotate(35deg);
		}
	}
}

// Header & Navigation
.navbar-default {
	background-color: $secondary;
	padding: 1em 0;
	border: none;
	margin-bottom: 0;
	.navbar-brand {
		font-size: 2.5em;
		color: $white;
		text-decoration: none;
		&:hover {
			color: $white;
		}
		&:focus {
			color: $white;
		}
		span {
			font-weight: 700;
			color: $primary;
		}
	}
	.navbar-nav {
		li {
			a {
				font-size: 1.15em;
				color: $white;
				&:hover {
					color: $primary
				}
				&:focus {
					color: $primary;
				}
			}
			a.btn.btn-primary {
				background: $primary;
				border: none;
				&:hover {
					color: $white;
					background: $highlight;
				}
			}
		}
	}
}

// Footer
footer.footer {
	position: absolute;
	bottom: 0;
	width: 100%;
	background-color: $secondary;
	padding: 1em 0;
	p {
		color: $white;
		text-align: center;
	}
}

@import 'posts';
