// Index
// #posts {
// 	padding-top: 2em;
// 	.panel {
// 		box-shadow: 0 1px 2px 0 rgba(0,0,0,0.22);
// 		border: none;
// 		.panel-heading {
// 			padding: 0;
// 			background: $white;
// 			img {
// 				width: 100%;
// 				border-radius: 4px 4px 0 0;
// 			}
// 		}
// 		.panel-body {
// 			padding: 10px 15px 5px;
// 			.title {
// 				margin: 0;
// 				a {
// 					color: $primary;
// 					text-decoration: none;
// 					&:hover {
// 						color: $highlight;
// 					}
// 				}
// 			}
// 			p.author {
// 				margin: 0;
// 				font-size: .9em;
// 			}
// 			ul.post-actions {
// 				margin: 5px 0;
// 				padding: 0;
// 				list-style: none;
// 				position: relative;
// 				li {
// 					display: inline-block;
// 					margin-right: .75em;
// 					i.fa {
// 						color: $primary;
// 					}
// 					&:hover {
// 						cursor: pointer;
// 					}
// 				}
// 				li.inappropriate {
// 					position: absolute;
// 					right: 0;
// 					margin: 0;
// 				}
// 				li.inappropriate.unmarked:hover .fa-flag-o:before {
// 					content: '\f024';
// 				}
// 				li.likes.unmarked:hover .fa-heart-o:before {
// 					content: '\f004';
// 				}
// 				li.comments.unmarked:hover .fa-comment-o:before {
// 					content: '\f075';
// 				}
// 			}
// 		}
// 	}
// 	.panel.animated {
// 		.panel-heading {
// 			position: relative;
// 			.play, .pause {
// 				position: absolute;
// 				top: 50%;
// 				left: 50%;
// 				margin-top: -50px;
// 				margin-left: -50px;
// 				font-size: 100px;
// 				color: rgba(255,255,255,0.7);
// 				&:hover {
// 					cursor: pointer;
// 				}
// 			}
// 			.pause {
// 				display: none;
// 			}
// 			.animated-img:hover .pause{
// 				display: block;
// 			}
// 		}
// 	}
// // }

#post {
	margin-top: 20px;
	.title {
		margin: 0;
	}
	ul.post-actions {
		margin: 5px 0;
		padding: 0;
		list-style: none;
		position: relative;
		li {
			display: inline-block;
			margin-right: .75em;
			i.fa {
				color: $primary;
			}
			&:hover {
				cursor: pointer;
			}
		}
		li.inappropriate.unmarked:hover .fa-flag-o:before {
			content: '\f024';
		}
		li.likes.unmarked:hover .fa-heart-o:before {
			content: '\f004';
		}
		li.comments.unmarked:hover .fa-comment-o:before {
			content: '\f075';
		}
		li.share:hover .fa-share-square-o:before {
			content: '\f14d';
		}
	}
	// index
	&.index {
		ul.post-actions {
			margin: 5px 0;
			padding: 0;
			list-style: none;
			position: relative;
			li.inappropriate {
				position: absolute;
				right: 0;
				margin: 0;
			}
		}
		.panel {
			box-shadow: 0 1px 2px 0 rgba(0,0,0,0.22);
			border: none;
			.panel-heading {
				padding: 0;
				background: $white;
				img {
					width: 100%;
					border-radius: 4px 4px 0 0;
				}
			}
			.panel-body {
				padding: 10px 15px 5px;
				.title {
					margin: 0;
					a {
						color: $primary;
						text-decoration: none;
						&:hover {
							color: $highlight;
						}
					}
				}
				p.author {
					margin: 0;
					font-size: .9em;
				}
			}
			&.animated {
				.panel-heading {
					position: relative;
					.play, .pause {
						position: absolute;
						top: 50%;
						left: 50%;
						margin-top: -50px;
						margin-left: -50px;
						font-size: 100px;
						color: rgba(255,255,255,0.7);
						&:hover {
							cursor: pointer;
						}
					}
					.pause {
						display: none;
					}
					.animated-img:hover .pause{
						display: block;
					}
				}
			}
		}
	}
	// Show
	&.show {
		.thumbnail {
			padding: 16px;
			.caption {
				padding: 10px 0;
			}
		}
	}
}
