#post, #user-posts {
	margin-top: 20px;
	.title {
		margin: 0;
	}
	ul.post-actions {
		margin: 5px 0;
		padding: 0;
		list-style: none;
		position: relative;
		li {
			display: inline-block;
			margin-right: .75em;
			i.fa {
				color: $primary;
			}
			&:hover {
				cursor: pointer;
			}
		}
		li.inappropriate.unmarked .fa-flag-o:hover {
			&:before {
				content: '\f024';
			}
		}
		li.likes {
			i.fa:hover, &.user-liked i.fa {
				&:before {
					content: '\f004';
				}
			}
		}

		li.comments.unmarked .fa-comment-o:hover {
			&:before {
				content: '\f075';
			}
		}
		li.share {
			ul.social {
				display: none;
				position: absolute;
				left: 15px;
				list-style: none;
				margin: 0;
				padding: 5px 10px;
				background: $secondary;
				z-index: 99;
				border-radius: 4px;
				font-size: 24px;
				li {
					margin: 0 10px;
					display: inline-block;
					border: none;
					i.fa {
						color: $white;
					}
					&:hover {
						i.fa {
							color: $highlight;
						}
					}
				}
			}
			&.active {
				i.fa-share {
					transform: rotate(90deg);
					transition: transform .25s ease-in-out;
				}
				ul.social {
					display: block;

				}
			}
		}
	}
	// index
	&.index {
		ul.sort-options {
			list-style: none;
			margin-bottom: 20px;
			text-align: center;
			li {
				display: inline-block;
				font-size: 1.2em;
				margin: 0 20px;
				text-transform: uppercase;
				font-weight: 700;
				a {
					color: $secondary;
				}
				&:hover, &.active {
					a {
						color: $primary;
					}
				}
			}
		}
		ul.post-actions {
			margin: 5px 0;
			padding: 0;
			list-style: none;
			position: relative;
			li.inappropriate {
				position: absolute;
				right: 0;
				margin: 0;
			}
		}
		.panel {
			box-shadow: 0 2px 4px 0 rgba(0,0,0,0.4);
			border: none;
			.panel-heading {
				padding: 0;
				background: $white;
				img {
					width: 100%;
					border-radius: 4px 4px 0 0;
				}
			}
			.panel-body {
				padding: 10px 15px 5px;
				.title {
					margin: 0;
					a {
						color: $primary;
						text-decoration: none;
						&:hover {
							color: $highlight;
						}
					}
				}
				p.author {
					margin: 0;
					font-size: .9em;
				}
			}
			&.animated {
				.panel-heading {
					position: relative;
					.play, .pause {
						position: absolute;
						top: 50%;
						left: 50%;
						margin-top: -50px;
						margin-left: -50px;
						font-size: 100px;
						color: rgba(255,255,255,0.7);
						&:hover {
							cursor: pointer;
						}
					}
					.pause {
						display: none;
					}
					.animated-img:hover .pause{
						display: block;
					}
				}
			}
		}
	}
	// Show
	&.show {
		.post-primary-col {
			.post-img {
				margin-bottom: 20px;
			}
			.post-description {
				font-size: 1.25em;
				margin-bottom: 20px;
			}
		}
		.post-secondary-col {
			ul.post-actions {
				li {
					display: list-item;
					padding: 10px 0;
					border-bottom: 1px solid #ddd;
					font-size: 1.25em;
				}
			}
			.more-posts {
				margin-top: 30px;
				h4 {
					font-size: 14px;
					font-weight: 700;
					text-transform: uppercase;
				}
				ul {
					list-style: none;
					padding: 0;
					margin: 0;
					li {
						display: inline-block;
						margin: 5px;
						img {
							max-width: 150px;
						}
						&.animated {
							position: relative;
							.play, .pause {
								position: absolute;
								top: 50%;
								left: 50%;
								margin-top: -35px;
								margin-left: -35px;
								font-size: 70px;
								color: rgba(255,255,255,0.7);
								&:hover {
									cursor: pointer;
								}
							}
							.pause {
								display: none;
							}
							.animated-img:hover .pause {
								display: block;
							}
						}
					}
				}
			}
		}
	}
}

#post {
	// /posts/new
	&.new {
		#new_post {
			.form-actions {
				margin-top: 10px;
			}
		}
	}
}
